[Unit]
Description=Artisan Hosting Machine Management OTA Timer

[Timer]
Unit=ArtisanUpdater.service
OnCalendar=*-*-* *:*:00

[Install]
WantedBy=timers.target