[Unit]
Description=Artisan Hosting Machine Management OTA Client
After=network.target
WantsArtisanManager.timer

[Service]
Type=oneshot
User=root
ExecStart=/usr/bin/env php /usr/local/bin/Artisan/Updater/update_kickstart.php
[Install]
WantedBy=timers.target
