[Unit]
Description=Artisan Hosting Machine Management Server
After=network.target
WantsArtisanManager.timer

[Service]
Type=oneshot
User=root
ExecStart=/usr/bin/env python3 /usr/local/bin/Artisan/Manager/artisan_manage.py

[Install]
WantedBy=timers.target
