[Unit]
Description=Artisan Hosting Machine Management Server Timer

[Timer]
Unit=ArtisanManager.service
OnCalendar=*-*-* *:*:00

[Install]
WantedBy=timers.target