[Unit]
Description=Artisan Hosting First Run Initialization
After=network.target

[Service]
Type=oneshot
User=root
ExecStart=/bin/bash /usr/local/bin/Artisan/bin/provision_machine

[Install]
WantedBy=multi-user.target