[Unit]
Description=Artisan Hosting Machine Management Server Timer

[Timer]
Unit=Artisan_Manager.service
OnCalendar=*-*-* *:*:00

[Install]
WantedBy=timers.target