[Unit]
Description=Artisan Hosting Machine Management OTA Timer

[Timer]
Unit=Artisan_Updater.service
OnCalendar=*-*-* *:*:00

[Install]
WantedBy=timers.target