[Unit]
Description=Artisan Hosting Machine Management System
After=network.target
Wants=Artisan_Manager.timer

[Service]
Type=oneshot
User=root
ExecStart=/usr/bin/env python3 /usr/local/bin/Artisan/bin/manage_machine

[Install]
WantedBy=timers.target
